<div ng-controller="AppMessageCtrl">
	<div class="row-fluid">
	
		<div th :if="${message !=null}">
			<table class="table table-striped table-bordered table-condensed"
				id="usertable">
				<thead>
					<tr>
						<th>Order ID</th>
						<th>Time</th>
						<th>User Name</th>
						<th>Comment</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr class="list-inbox" th:each="appMessage : ${message} ">
	
						<td th:text="${appMessage.order.orderId}">Order Id</td>
						<td th:attr="id='savedAppMessageTime'+${appMessage.messageId}" th:text="${appMessage.Time}">Time</td>
						<td th:attr="id='savedAppMessageName'+${appMessage.messageId}" th:text="${appMessage.user.name}" class="notranslate">Name</td>
						<td>
							<div th:attr="id='savedAppMessageComment'+${appMessage.messageId}"
								th:text="${appMessage.comments}" class="notranslate">Comment</div>
						</td>
						<td>
							<p data-placement="top" data-toggle="tooltip" title="Process">
								<button th:value="${appMessage.messageId}" class="view-saved-app-message-modal btn btn-primary btn-xs"
									data-title="Process" data-toggle="modal" data-target="#view-saved-app-message-modal">
									<i class="icon-white  icon-file"></i> View
								</button>
								<!-- Hidden Fields -->
								<input type="hidden" th:attr="id='savedAppMessageOrderId'+${appMessage.messageId}" th:value="${appMessage.order.orderId}">
							</p>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	
		<div th:if="${message == null}">
			<B>No New Message </B>
	
		</div>
	</div>
	
	<div class="modal fade" id="view-saved-app-message-modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
	<div class="modal-dialog">
	    	<div class="modal-header">
	      		<button type="button" class="close saved-app-modal-close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
	      		<h4 class="modal-title custom_align" id="HeadingEdit">Process Order</h4>
	    	</div>
	    	<div class="modal-body">
	      		<div class="fluid-row">
	      			<div class="span4">
		      			<div><b>Time: </b></div>
		      			<div id="savedAppTime"></div>
	      			</div>	
	      			<div class="span3 notranslate">
	      				<div><b>Name: </b></div>
	      				<div id="savedAppName"></div>
	      			</div>
	      			<div class="span5">
	      				<div><b>Comment: </b></div>
	      				<div id="savedAppComment"></div>
	      			</div>
	      		</div>
	      		</br>
	      		<hr>
	      		<form class="form"> 
			  		<div class="control-group">
			  			<div class="fluid-row">
				    		<div class="span3">
				    			<div>Product</div>
				    			<div>
				    				<select class="span10" id="savedAppProductName">
				    					<option th:each="product : ${products}" th:value="${product.productId} + ' ' + ${product.unitRate}" th:text="${product.name}">Product</option>
				    				</select>
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<div>Preset Quantity</div>
				    			<div>
				    				<select class="span7" id="savedAppProductQuantity">
				    					<option th:each="q : ${presetQuantity}" th:value="${q.quantity}" th:text="${q.quantity}">Quantity</option>
				    					<option value="other">other</option>
				    				</select>
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<div>Custom Quantity</div>
				    			<div>
				    				<input class="span6" type="text" id="savedAppCustomQuantity" disabled>
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<br>
				    			<button value="0" id="add-saved-app-order-items" class="btn btn-primary"> Add</button>
				    		</div>
				  		</div>
			  		</div>
		  		</form>
		  		<div>
		  			<div class="fluid-row">
						<div class="span3"></div>
						<div class="span3"><b>Product Name</b></div>
						<div class="span3"><b>Quantity</b></div>
						<div class="span2"><b>Rate (In ₹)</b></div>
					</div>
		  		</div>
		  		<div ng-repeat="orderItem in orderItems">
		  			<div id="savedAppAddedRow{{orderItem.id}}" class="fluid-row">
						<div class="span3"></div>
						<div class="span3">{{orderItem.product}}</div>
						<div class="span3">{{orderItem.quantity}}</div>
						<div class="span2">{{orderItem.unitRate}}</div>
						<div class="span1">
							<button value="{{orderItem.$$hashKey}}" class="close remove-saved-app-order-item"><i class="icon-remove" aria-hidden="true"></i></button>
						</div>
						<input id="savedAppHidden{{orderItem.$$hashKey}}" type="hidden" value="saved">
						<input id="savedAppHiddenOrderItemId{{orderItem.$$hashKey}}" type="hidden" value="{{orderItem.id}}">
					</div>
		  		</div>
		  		<div id="savedAppOrderItems">
		  		</div>
		  		<!-- Hidden Fields-->
	  			<input type="hidden" id="savedAppOrderId">
	  		</div>
	  	</div>
	  <div class="modal-footer ">
	    	<button type="button" id = "process-saved-app-order" class="btn btn-success"><i class="icon-white icon-ok"></i>  Process</button>
	    	<button type="button" class="btn btn-default saved-app-modal-close" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
	  </div> 
	</div>
	
	<!-- /.modal-content -->
	<!-- /.modal-dialog -->
</div>