<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link th:href="@{/static/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/static/css/bootstrap-responsive.css}" rel="stylesheet">
<link th:href="@{/static/css/site.css}" rel="stylesheet"> 
<link th:href="@{/static/css/ruralivrs.css}" rel="stylesheet"> 
<title>Login | RuralIVRS</title>
</head>
<body>
<div class="container">
   <div class = "header">
      <div class="navbar-inner">
        <div class="container-fluid">
          <label class="organization">Rural Interactive Voice Response System</label>
          
      </div>
    </div>
   </div>
    <div class="row-fluid">
        <div class="span12">
            

            <div class="span6">
                <div class="area">
                   <div class="well hero-unit">
                   
                   <p>This website helps you connect easily to your customers. Some of the outstanding features of our website include:</p>
                   <ul>
                   <li>Broadcasting through phone</li>
                   <li>Broadcasting through SMS</li>
                   <li>Offline Billing</li>
                   <li>Receiving orders through phone</li>
                   <li>App for Android users</li>
                   </ul>
<!--                    <p><a class="btn btn-success btn-large" href="http://ruralict.cse.iitb.ac.in/RuralIvrs/userGuide" target="_blank">User Guide &raquo;</a></p>
 -->               	    <button class= "btn btn-success btn-large" id = "user-guide" data-toggle="modal" data-title="User Guide" data-target="#user-guide-modal">User Guide</button>
    					<p> <br> To know more about us, please visit our <a href="http://ruralict.cse.iitb.ac.in">Website</a> </p>
 					</div>
                </div>
            </div>
            <div class="span4" style="padding-top: 10px;">
                <div class="area">
                
                    <form class="form-horizontal" name="f" th:action="@{/login}" method="post">
                        <div class="heading">
                        <br>
                        <br>
                            <h4 class="form-heading">Sign In</h4>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                            "username" required>Username</label>

                            <div class="controls">
                                <input id="username" name="username" placeholder=
                                "E.g. sushmitasen@gmail.com" type="text" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                            "password">Password</label>

                            <div class="controls">
                                <input id="password" name="password" placeholder=
                                "Min. 8 Characters" type="password" required>
                            </div>
                        </div>

                    <div class="control-group">
                            <div class="controls">
<!--                                   <label class="checkbox"><input type="checkbox">
                                Keep me signed in ¦ <a class="btn btn-link"
                                href="#">Forgot my password</a></label> -->
                                <button class="btn btn-success" type=
                                "submit">Sign In</button> 
                                <!-- 
                                <button class="btn"
                                type="button">Help</button>-->
                            </div>
                        </div>

                        <div th:if="${param.error}" class="alert alert-error">
                            <button class="close" data-dismiss="alert" type=
                            "button">×</button> <strong>Access Denied.</strong>
                            Ensure that your username and password are correct, and that you're an
                            administrator of an organization.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            <button class="close" data-dismiss="alert" type=
                            "button">×</button> <strong>Logged out.</strong>
                            You have been logged out.
                        </div>
                    </form>
                </div>
                
            </div>
            <div class="span2">
                <div class="area">
                   <div id="google_translate_element" style="padding-top: 40px;"></div><script type="text/javascript">
						function googleTranslateElementInit() {
  						new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,hi,mr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
						}
						</script>
						<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="user-guide-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
           <h4 class="modal-title custom_align" id="HeadingDelete">Delete this entry</h4>
      </div>
      <div class="modal-body">
        	<div class="container-inner-document" style="text-align: center;">
				<b>Contact-Number - 022-33578383</b><br><br><br/>
				<a href = "http://ruralict.cse.iitb.ac.in/Downloads/Admin_Guide_new.pdf" target="_blank" style="color:black;">Admin Guide</a>
				<br><br/>
				<a href = "http://ruralict.cse.iitb.ac.in/Downloads/Call flow for Publisher.png" target="_blank" style="color:black;" >Call Flow for Rural IVRS for Publisher</a>
				<br><br/>		
				<a href = "http://ruralict.cse.iitb.ac.in/Downloads/Call flow for Member.png" target="_blank" style="color:black;">Call Flow for Rural IVRS for Customer</a>
				<br><br/>
				<a href = "http://ruralict.cse.iitb.ac.in/Downloads/rural ivrs in yuva pune newspaper.png" target="_blank" style="color:black;">Article of newspaper</a>
				<br><br/>
				<a href = "http://ruralict.cse.iitb.ac.in/Downloads/Bodke_1.m4v" target="_blank" style="color:black;">Video</a>
				<br>		
			</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" onclick="okButtonClick()" id="userguideOK" ><i class="icon-white icon-ok"></i> OK</button>
        <script>
        	function okButtonClick()
        	{
        		$("#user-guide-modal").modal('toggle');
        	}
        </script>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
<script th:src="@{/static/js/libs/jquery.js}"></script>
<script th:src="@{/static/js/libs/bootstrap.min.js}"></script>

</body>
</html>